<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
      <link rel="stylesheet" href="css/styles.css">
  </head>

  <body>
    <div class="box" id="heading">


  <h1><%=f%></h1>
    </div>
    <div class="box">


        <%  items.forEach(function(founditems){ %>
<form  action="/delete" method="post">
  <div class="item">
    <input type="checkbox" name="check" value="<%=founditems._id%>" onChange="this.form.submit()">
    <p><%=founditems.name%></p>
  </div>
</form>
        <% })%>
            <form class="item" action="/" method="post">
          <input type="text" name="itam" placeholder="new item" autocomplete="off" >
          <button type="submit" value=<%=v%> name="button">+</button>
        </form>
    </div>
  </body>
</html>
